bower_components/*
.idea/*
.settings/*
docs/*
logs/*
node_modules/*
stunnel
templates
.buildpacks
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.gitignore
.jshintrc
.nvmrc
.Procfile.dev
.profile
bower.json
circle.yml
public
package.json
processes.json
readme.md
npm-debug.log
octanner manufacturing notes.md
db.sql
Procfile
